body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
 
}

main{
  flex: 1 0 auto;
}

.row{
  display: flex;
  justify-content: center;
  max-height: 170px;
  max-width: 180px;   
  
}

.card {
  height: 170px;
  width: 180px;   
}

.card-content{
  font-size: 25.5vw;
  padding: 1px;
  word-wrap: break-word;
  margin: auto;
}



footer {
  padding-top: 0;
  text-align: right;
}